h1 {
  font-family: 'Libre Baskerville',serif;
  color: #FFFFFF;
}

th, h4, .filterlabel {
  font-family: 'Merriweather',serif;
  font-size: 16pt;
  color: #000000;
}

.jumbotron {
    background-color: #421E5E;
}
.jumbotron p {
    color: #000000;
}

.totalwrapper {
    background-color: #9A4A9C;
}

tr {
    padding: 10px;
}

td {
    padding: 10px;
}

.editbackground{
    background-color: #FF9900;
}

.mensah {
    background-color: #421E5E;
}

.hamhead {
    background-color: #002F6E;
    padding: 25px;
    border: 3px solid #E08700;
}